<div data-role="page">

  <div data-role="header" data-position="inline">
<a href="<%= url_for :controller => :Settings, :action => :logout %>" class="ui-btn-right" data-icon="star">
      Logout
    </a>
    <h1>Settings</h1>
  </div>

  <div data-role="content">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

      <li>
        <div class="itemLabel">
          <span class="title"><%= do_name %>'s Profile:</span>
        </div>
      </li>

      <div data-role="collapsible">
      <h3>Interests</h3>
      <%= do_interests %>
<div data-role="fieldcontain">
    <label for="name">Add Interest:</label>
<form method="POST" action="<%= url_for :action => :add_interest %>">
    <input type="text" name="interest" id="interest" value=""  />
    <input type="submit" value="Add"/>
    </form>
</div>
      </div>
    </ul>
  </div>
</div>
